#main-container {
    width: 100%;
    height: 100%;
    border: none;
}

#dashboard-info-container {
    width: 1fr;
    height: 100%;
}

#overlay-container {
    width: 100%;
    height: 100%;
    align: center middle;
    content-align: center middle;
}

.highlight-flash {
    background: $warning;     
    color: $text;
    text-style: bold italic;
    border: tall $error;     
}



