[defaults]
# Use the YAML callback for prettier output
stdout_callback = default
result_format = yaml
# my vault password
vault_password_file = ./.vault_pass
# use inventory for list of ip
inventory = ./inventory.ini
# Tell Ansible not to worry about host keys since Tailscale handles identity
host_key_checking = False

[ssh_connection]
# This tells Ansible to use the system's 'ssh' command which knows about Tailscale
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s